.new-header {
    display: flex;
    justify-content: end;
    background: var(--bg-gradient);
    padding: 20px 0;
    position: relative;
  }
  
  .new-nav {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  
  .new-nav-list {
    list-style: none;
    margin: 0;
    padding: 0px 20px;
    display: flex;
    gap: 27px;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 3px solid var(--primary-orange);
    box-shadow: 0 5px 6px rgba(255, 124, 46, 0.8);;
    border-radius: 0 0 30px 30px;
  }
  
  .new-nav-item {
    text-align: center;
  }
  
  .new-nav-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 24.5px;
    font-family: Leckerli One;
    color: #455A64;
    transition: color 0.3s, transform 0.3s;
  }
  
  .new-nav-link img{
    width: 80px;
    height: 80px;
    margin-top: 20px;
    margin-right: -9px;
    display: block;
  }
  
  .new-nav-link:hover {
    color: #e67e22;
    transform: translateY(-5px);
  }
  
  .new-nav-icon {
    margin-top: 2px;
    margin-right: 8px;
    display: block;
  }

   .header1-contact-container {
    margin-left: 626px;
    border-bottom: 3px solid var(--primary-orange);
    /* box-shadow: 0 5px 6px rgba(255, 124, 46, 0.8); */
    border-radius: 0 0 43px 43px;
    padding: 5px;
    /* border-top: 8px; */
    margin-top: -23px;
    width: 300px;
    z-index: 2;
    background: var(--bg-color);
    /* border: 3px solid transparent;
    border-image: linear-gradient(to bottom, transparent, orange);
    border-image-slice: 1; */
  } 
  
  .header1-contact-button {
    text-decoration: none;
    border-radius: 12px;
    color: #455A64;
    font-size: 24.5px;
    font-family: Leckerli One;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 10px; */
    width: 222px;
    height: 64px;
    margin-left: 36px;
    margin-top: 4px;
    position: relative;
    border: 5px solid transparent;
    background: var(--bg-color);
    background-clip: padding-box;
  }
  .header1-contact-button::after {
    position: absolute;
    top: -4px; bottom: -4px;
    left: -4px; right: -4px;
    background: linear-gradient(to right ,orange, black);
    content: '';
    z-index: -1;
    border-radius: 12px;
}
  .header1-contact-button img{
    width: 80px;
    height: 80px;
    margin-top: 20px;
    margin-right: -9px;
    display: block;
  }
  .header1-contact-button:hover {
    background-color: #e67e22;
    color: #fff;
  }
  